# ==========================================
# === GITIGNORE PARA PROYECTO TDSP + DVC ===
# ==========================================

# --- Python ---
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.h5

# --- Entornos ---
.env
.venv
venv/
env/

# --- Editor ---
.vscode/
.idea/

# --- Logs ---
*.log
logs/

# --- Datos (NO versionar archivos pesados en Git) ---
data/
!data/.gitkeep

# --- Permitir que DVC controle los datos ---
!*.dvc
!.dvc/
!.dvc/**
.cache/
.tmp/
.dvc/cache/
.dvc/tmp/
!.gitignore

# --- Modelos ---
models/
!models/.gitkeep

# --- Notebooks (opcional) ---
.ipynb_checkpoints/


# MLflow
mlruns/
mlflow.db
mlflow.db-shm
mlflow.db-wal
**/mlruns/
**/mlflow.db*